In [31]:
%load_ext google.cloud.bigquery
# Sampling data from job_log
from google.cloud import bigquery

client = bigquery.Client()
sql = """
SELECT DISTINCT(jobid),utc_start_time,utc_end_time, cpu_id 
FROM `macro-centaur-330222.service_migration_dataset.cluster_job_log` 
"""
df = client.query(sql).to_dataframe()
df

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

,jobid,utc_start_time,utc_end_time,cpu_id
0,application_1508364558011_47331,2017-11-18 07:01:48+00:00,2017-11-18 07:05:01+00:00,m0
1,application_1508364558011_47333,2017-11-18 07:01:57+00:00,2017-11-18 07:05:35+00:00,m0
2,application_1508364558011_47343,2017-11-18 07:08:12+00:00,2017-11-18 07:11:25+00:00,m0
3,application_1508364558011_47412,2017-11-18 07:26:43+00:00,2017-11-19 13:08:02+00:00,m0
4,application_1508364558011_36526,2017-11-11 13:31:26+00:00,2017-11-11 13:33:28+00:00,m0
...,...,...,...,...
169792,application_1506638472019_3814,2017-10-03 00:46:18+00:00,2017-10-03 01:20:33+00:00,m419
169793,application_1506638472019_27013,2017-10-13 05:44:42+00:00,2017-10-13 05:45:44+00:00,m419
169794,application_1506638472019_27013,2017-10-13 05:52:34+00:00,2017-10-13 05:53:26+00:00,m419
169795,application_1506638472019_27013,2017-10-13 05:48:55+00:00,2017-10-13 05:49:41+00:00,m419
169796,application_1508364558011_48471,2017-11-21 02:24:54+00:00,2017-11-21 02:31:26+00:00,m419

In [32]:
import pandas as pd
import time
count=0
allcount=0
for i in range(10000):
    start_time=df.iloc[i].utc_start_time
    end_time=df.iloc[i].utc_end_time
    cpu_id=df.iloc[i].cpu_id
    for j in df.index:
        if df["cpu_id"][j]==cpu_id and ((df["utc_start_time"][j]>start_time and df["utc_start_time"][j]<end_time)or(df["utc_end_time"][j]>start_time and df["utc_end_time"][j]<end_time)):
            count+=1
            break
    allcount+=1                        
count/allcount

0.4747